{
  "extends": ["airbnb", "airbnb/hooks", "plugin:react/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.{ts,tsx}", "**/test/*"]
      }
    ],
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
